{% extends 'base.html' %}
{% block content %}
{{super()}}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}"> {{msg}}</div>
{% endfor %}
<form action="{{url_for('prof_reg')}}" method="post" class='form-contact'>
    <p><label>Ваше имя</label> <input type="text" name="name" value="" required></p>
    <p><label>Ваше логин</label> <input type="text" name="logname" value="" required></p>
    <p><label>Информация о вас</label> <br>

        <textarea name="info" rows="7" cols="40"> </textarea> </p>
    <p><input type="submit" value="Добавить"></p>
</form>
{% endblock %}